body {
  background-color: #dedede;
  font-family: "Marvel", sans-serif;
}

.heading {
  font-family: "Boogaloo", cursive;
}

.headings {
  font-family: "Special Elite", cursive;
}

.main-cont {
  background-color: #fff;
}

.cont2 {
  background-color: #bbdefb;
}

.cont2-row1,
.cont2-row2,
.cont2-row3 {
  background-color: #fff;
}

.borders {
  border: 1px solid #333333;
}

.height {
  height: 20vh;
}
